                                                          Assigment-1

In [36]:
#Q1
#ANS 
s='imran'
l=[1,'imran',55.0,60,'a']
f=66.0
t=(20,30,'imarn')

In [37]:
#Q2
#ANS 1
var1=''
type(var1)

str

In [38]:
#Ans2
var2='[DS,ML,Python]'
type(var2)

str

In [39]:
#Ans 3
var3=['DS','ML','Python']
type(var3)

list

In [40]:
#Ans 4
var4=1
type(var4)

int

In [41]:
#Q3
#Ans 1
10/2
#It is division operator return quotient

5.0

In [42]:
#Ans 2
10%2
#It is modelus operator return reminder

0

In [43]:
#Ans 3
10//3
#It is floor division operator return quotient by rounding off

3

In [44]:
#Ans 4
10**3
#It is Exponentiation operator

1000

In [45]:
#Q4

l=[1,2,3,4,5,6,7,8,9.5,'imran']
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'int'>
7
<class 'int'>
8
<class 'int'>
9.5
<class 'float'>
imran
<class 'str'>

In [60]:
#q5

a=int(input())
b=int(input())
c=0
while a>b:
    if a%b==0:
        c=c+1
        b=b+1
    else:
        b=b+1
print(c)

 8
 2

2

In [56]:
#Q6
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if i%3==0:
        print(i ,'is divisible by 3')
    else:
        print(i,'is not divisible by 3')

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [47]:
#Q7
#Mutable objects are those that allow you to change their value or data in place without affecting the object's identity.
#In contrast, immutable objects don't allow this kind of operation.EX
l=[1,2,3,4,5,6,7]
l[1]=11
print(l)
#Mutable

[1, 11, 3, 4, 5, 6, 7]

In [48]:
s="imran"
s[1]="m"
#Immutable

TypeError: 'str' object does not support item assignment